body {
  margin: 0;
  overflow-y: scroll;
}
a {
  text-decoration: none;
}
a {
  color: blue;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.l-header {
  border-bottom: 1px solid #ccc;
  background: #fff;
}
.l-header__inner {
  display: flex;
  align-items: center;
  column-gap: 0.625em;
  height: 20px;
  padding: 0.625em;
}
.l-header--sticky {
  position: sticky;
  top: 0;
}
.l-header__link {
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 0.3125em;
  color: #000;
}
.l-header__title {
  font-size: inherit;
}
.l-header__logo {
  height: 100%;
}
.l-header__version {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.c-version__text {
  padding: 0.1em 0.5em;
  background: #e4e4e4;
  border-radius: 0.8em;
}
.c-version__text--latest {
  background: #d6ffd6;
}

.l-footer {
  border-top: 1px solid #ccc;
  margin-top: 3.125em;
}
.l-footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.625em;
  padding: 0.625em;
}
.l-footer__link {
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 0.3125em;
  color: #000;
  flex-wrap: wrap;
  justify-content: center;
}
.l-footer__logo {
  height: 1.25em;
}
.l-footer__copyright {
  color: #ccc;
  font-size: 0.8em;
}

.l-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: var(--padding-inner);
  padding-right: var(--padding-inner);
}

.p-about {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.625em;
}
.p-about__under-construction {
  padding: 0.625em;
  background: #ffe3e3;
  margin-left: auto;
  margin-right: auto;
}
.p-about__break {
  flex-basis: 100%;
}
.p-about__roadmap, .p-about__done {
  flex-basis: calc(50% - 0.3125em);
}

.p-about__about {
  padding: 0.625em;
  background: #e3f8ff;
}

.p-run-list__table {
  overflow-x: auto;
}
.p-run-list__row {
  display: flex;
  width: fit-content;
  margin: 0.3125em 0;
  padding: 0.3125em;
}
.p-run-list__row {
  color: inherit;
  border-radius: 0.625em;
}
.p-run-list__row:nth-child(odd) {
  background: #e4fdff;
}
.p-run-list__row:nth-child(even) {
  background: #fff9df;
}
.p-run-list__row--header {
  font-weight: bold;
}
.p-run-list__cell {
  padding: 0.3125em;
}
.p-run-list__cell--character {
  width: 5.5em;
}
.p-run-list__cell--type {
  width: 2.5em;
}
.p-run-list__cell--shining {
  width: 10em;
}
.p-run-list__cell--difficulty {
  width: 5em;
}
.p-run-list__cell--requests {
  width: 15em;
}
.p-run-list__cell--result {
  width: 4em;
}
.p-run-list__cell--timestamp {
  width: 12em;
}

.c-log__processing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-map {
  background: #dabfa2;
  position: sticky;
  top: 0;
  z-index: 999;
  margin-left: calc(var(--padding-inner) * -1);
  margin-right: calc(var(--padding-inner) * -1);
}

.p-map__inner {
  overflow-x: auto;
  position: relative;
  transform: rotate(0);
}

.p-map__inner--hidden {
  visibility: hidden;
}

.c-act__title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.2em 0.5em;
  font-size: 1.2em;
}

.p-map__holdings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 0.5em;
  overflow-y: auto;
  box-sizing: border-box;
}

.p-map__svg {
  display: block;
  /* transform-origin: 50% 50%;
  transform: scale(1, -1); */
}

.c-map-icon {
  position: fixed;
  width: var(--icon-size);
  height: var(--icon-size);
}

.c-map-icon--boss {
  width: calc(var(--icon-size) * 2);
  height: calc(var(--icon-size) * 2);
}

.c-map-icon__visited {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.c-map-icon__bg {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.c-map-icon__bg--active {
  background: #fff;
  border-radius: 50%;
}

.p-station {
  margin-bottom: 1em;
}

.p-station--last {
  margin-bottom: 0;
  padding-bottom: var(--control-height);
  box-sizing: border-box;
}

.p-station__head {
  display: flex;
  align-items: flex-start;
  column-gap: 0.3125em;;
}

.p-station__level {
  margin: 0;
  width: 5.5em;
}

.p-station__statuses {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}

.p-station__status {
  display: flex;
  align-items: center;
}

.p-station__body {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.p-station__left {
  flex-basis: 60%;
}

.c-rewards__rounds, .c-rewards__money {
  display: flex;
  align-items: center;
}
.c-rewards__cards {
  display: flex;
}

.c-rewards {
  display: flex;
  align-items: flex-start;
}

.p-station__right {
  flex: 1;
}

.p-entity {
  display: flex;
  align-items: flex-start;
}

.p-entity__label {
  display: flex;
  align-items: center;
}

.p-entity__symbol--Add {
  color: var(--green);
}
.p-entity__symbol--Remove {
  color: var(--red);
}
.p-entity__symbol--Upgrade {
  color: var(--orange);
}
.p-entity__symbol--Use {
  color: var(--purple);
}

.c-status__change {
  font-size: 0.8em;
}
.c-status__change--positive {
  color: var(--green);
}
.c-status__change--negative {
  color: var(--red);
}

.p-summary {
  margin-bottom: 50vh;
}

.p-control {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f1f1f1;
  height: var(--control-height);
  width: 100%;
}
.p-control__inner {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  padding: 0;
  column-gap: var(--control-gap);
}
.p-control__component {
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: var(--control-height);
  justify-content: center;
  user-select: none;
  padding: 3px;
  position: relative;
}
.p-control__component:not(:last-child)::after {
  content: '';
  height: 70%;
  border-right: 1px solid #ccc;
  display: inline-block;
  right: calc(var(--control-gap) * -0.5);
  position: absolute;
}

.p-control__component img {
  height: 100%;
  width: auto;
}

.p-control__component--center {
  width: 100%;
  flex: 1;
}
.p-control__range {
  width: 100%;
}

.p-control__component .p-control__card,
.p-control__component .p-control__exhibit {
  position: absolute;
  width: 60%;
  height: auto;
  padding: inherit;
}
.p-control__card {
  top: 0;
  left: 0;
}
.p-control__exhibit {
  bottom: 0;
  right: 0;
}

.c-entities {
  display: flex;
  flex-wrap: wrap;
  margin: 0.1em 0;
  gap: var(--entity-gap);
}

.c-entity {
  display: flex;
  align-items: center;
  padding: 0.5em;
  border: 1px solid #000;
  width: 160px;
  height: 42px;
  box-sizing: border-box;
  overflow: hidden;
}

.p-entity__label {
  word-break: break-word;
  width: 4em;
  flex-shrink: 0;
}

.c-card {
  position: relative;
  overflow: hidden;
}

.c-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
}

.c-card__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.c-exhibit {
  column-gap: 0.5em;
}

.c-exhibit__img {
  height: 100%;
  width: auto;
}

:root {
  --padding-inner: 0.625em;
  --control-height: 36px;
  --control-gap: 1em;
  --entity-gap: 0.5em;
  --icon-size: 36px;
  --green: green;
  --red: red;
  --orange: orange;
  --purple: purple;
}

@media screen and (min-width: 601px) {
  .u-sp {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .l-footer__link {
    max-width: 12.5em;
  }
  .u-pc {
    display: none;
  }
  .p-about__roadmap, .p-about__done {
    flex-basis: 100%;
  }

  .p-station__left {
    flex-basis: 100%;
  }
}