body {
  margin: 0;
}
a {
  text-decoration: none;
}
a {
  color: blue;
}
img {
  max-width: 100%;
  height: auto;
}

.l-header {
  height: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  background: #fff;
}
.l-header__link {
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 5px;
  color: #000;
}
.l-header__title {
  font-size: inherit;
}
.l-header__logo {
  height: 100%;
}
.l-header__version {
  margin-left: auto;
}

.l-footer {
  padding: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 50px;
}
.l-footer__link {
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 5px;
  color: #000;
  flex-wrap: wrap;
  justify-content: center;
}
.l-footer__logo {
  height: 20px;
}
.l-footer__copyright {
  color: #ccc;
  font-size: 0.8em;
}

.l-top {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.p-about {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}
.p-about__under-construction {
  padding: 10px;
  background: #ffe3e3;
  margin-left: auto;
  margin-right: auto;
}
.p-about__break {
  flex-basis: 100%;
}
.p-about__roadmap, .p-about__done {
  flex-basis: calc(50% - 5px);
}

.p-about__about {
  padding: 10px;
  background: #e3f8ff;
}

.p-run-list__table {
  display: table;
}
.p-run-list__header-row, .p-run-list__row {
  display: table-row;
}
.p-run-list__row {
  color: inherit;
}
.p-run-list__header-cell, .p-run-list__cell {
  display: table-cell;
  padding: 5px;
}

@media screen and (min-width: 601px) {
  .u-sp {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .l-footer__link {
    max-width: 200px;
  }
  .u-pc {
    display: none;
  }
  .p-about__roadmap, .p-about__done {
    flex-basis: 100%;
  }
}