body {
  margin: 0;
  overflow-y: scroll;
}
a {
  text-decoration: none;
}
a {
  color: blue;
}
img {
  max-width: 100%;
  height: auto;
}

.l-header {
  border-bottom: 1px solid #ccc;
  background: #fff;
}
.l-header__inner {
  display: flex;
  align-items: center;
  column-gap: 0.625em;
  height: 20px;
  padding: 0.625em;
}
.l-header--sticky {
  position: sticky;
  top: 0;
}
.l-header__link {
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 0.3125em;
  color: #000;
}
.l-header__title {
  font-size: inherit;
}
.l-header__logo {
  height: 100%;
}
.l-header__version {
  margin-left: auto;
}
.c-version__text {
  padding: 0.2em 0.5em;
  background: #e4e4e4;
  border-radius: 0.8em;
}
.c-version__text--latest {
  background: #d6ffd6;
}

.l-footer {
  border-top: 1px solid #ccc;
  margin-top: 3.125em;
}
.l-footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.625em;
  padding: 0.625em;
}
.l-footer__link {
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 0.3125em;
  color: #000;
  flex-wrap: wrap;
  justify-content: center;
}
.l-footer__logo {
  height: 1.25em;
}
.l-footer__copyright {
  color: #ccc;
  font-size: 0.8em;
}

.l-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 0.625em;
  padding-right: 0.625em;
}

.p-about {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.625em;
}
.p-about__under-construction {
  padding: 0.625em;
  background: #ffe3e3;
  margin-left: auto;
  margin-right: auto;
}
.p-about__break {
  flex-basis: 100%;
}
.p-about__roadmap, .p-about__done {
  flex-basis: calc(50% - 0.3125em);
}

.p-about__about {
  padding: 0.625em;
  background: #e3f8ff;
}

.p-run-list__table {
  overflow-x: auto;
  overflow-wrap: break-word;
}
.p-run-list__row {
  display: flex;
  width: fit-content;
  margin: 0.3125em 0;
  padding: 0.3125em;
}
.p-run-list__row {
  color: inherit;
  border-radius: 0.625em;
}
.p-run-list__row:nth-child(odd) {
  background: #e4fdff;
}
.p-run-list__row:nth-child(even) {
  background: #fff9df;
}
.p-run-list__row--header {
  font-weight: bold;
}
.p-run-list__cell {
  padding: 0.3125em;
}
.p-run-list__cell--character {
  width: 5.5em;
}
.p-run-list__cell--type {
  width: 2.5em;
}
.p-run-list__cell--shining {
  width: 10em;
}
.p-run-list__cell--difficulty {
  width: 5em;
}
.p-run-list__cell--requests {
  width: 15em;
}
.p-run-list__cell--result {
  width: 4em;
}
.p-run-list__cell--timestamp {
  width: 12em;
}

.c-log__processing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-map {
  background: #fffbf6;
}
.p-map--sticky {
  position: sticky;
  top: 0;
}

.p-map__inner {
  overflow-x: auto;
  position: relative;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

.c-map-icon__img {
  position: fixed;
  width: 40px;
  height: 40px;
}

.p-station {
  margin-bottom: 1em;
}

.p-station--last {
  margin-bottom: 0;
  padding-bottom: var(--panel-height);
  box-sizing: border-box;
}

.p-station__head {
  display: flex;
  align-items: baseline;
  column-gap: 0.3125em;;
}

.p-station__level {
  margin: 0;
  width: 5.5em;
}

.c-status__change {
  font-size: 0.8em;
}
.c-status__change--positive {
  color: green;
}
.c-status__change--negative {
  color: red;
}

.p-control {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f1f1f1;
  height: var(--panel-height);
  width: 100%;
}
.p-control__inner {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  padding: 0;
}
.p-control__component {
  border: 1px solid #ccc;
  border-right: none;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: var(--panel-height);
  justify-content: center;
  user-select: none;
}
.p-control__component:last-child {
  border-right: 1px solid #ccc;
}
.p-control__component--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.p-control__component--range {
  width: 100%;
}
.p-control__range {
  width: 100%;
}

:root {
  --panel-height: 30px;
}

@media screen and (min-width: 601px) {
  .u-sp {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .l-footer__link {
    max-width: 12.5em;
  }
  .u-pc {
    display: none;
  }
  .p-about__roadmap, .p-about__done {
    flex-basis: 100%;
  }
}